
/* Tüm HTML ve body elemanları için temel ayarlar */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #000;
}

/* Yükleme ekranı için genel ayarlar */
.load {
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gezegen animasyonu için ayarlar */
.load .planet {
    width: 65%;
    height: 65%;
    background-color: #546c8c;
    border-radius: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    transform-origin: center center;
    box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
    animation: planet 5s ease infinite alternate;
}

/* Gezegenin dönüş animasyonu */
@keyframes planet {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

/* Gezegenin halkası için ayarlar */
.load .planet .ring {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #bacbd9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 33% center;
    box-shadow: 2px -10px 0px rgba(0, 0, 0, 0.1), inset -5px -10px 0px rgba(0, 0, 0, 0.1);
    animation: ring 3s ease infinite;
}

/* Halkanın dönüş animasyonu */
@keyframes ring {
    0% {
        transform: rotateX(110deg) rotateZ(0deg) translate(-50px, 5px);
    }
    100% {
        transform: rotateX(110deg) rotateZ(360deg) translate(-50px, 5px);
    }
}

/* Halkanın ön ve arka katmanları için ayarlar */
.load .planet .ring:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 30px;
    border-radius: 100%;
    background-color: #7ea1bf;
    z-index: 2;
    left: calc(0px - 5px);
    box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.2);
}

.load .planet .ring:after {
    content: "";
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: #7ea1bf;
    box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
}

/* Gezegenin kaplama halkası için ayarlar */
.load .planet .cover-ring {
    position: absolute;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transform: translate(0px, -17px);
    background-color: #546c8c;
    z-index: 2;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);
}

/* Gezegen üzerindeki noktalar için ayarlar */
.load .planet .spots {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.load .planet .spots span {
    width: 30px;
    height: 30px;
    background-color: #3c4359;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset -2px 3px 0px rgba(0, 0, 0, 0.3);
    animation: dots 5s ease infinite alternate;
}

/* Noktaların animasyonu */
@keyframes dots {
    0% {
        box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.3);
    }
}

/* Her bir nokta için pozisyon ayarları */
.load .planet .spots span:nth-child(1) {
    top: 20px;
    right: 50px;
}

.load .planet .spots span:nth-child(2) {
    top: 40px;
    left: 50px;
    width: 15px;
    height: 15px;
}

.load .planet .spots span:nth-child(3) {
    top: 80px;
    left: 20px;
    width: 25px;
    height: 25px;
}

.load .planet .spots span:nth-child(4) {
    top: 80px;
    left: 90px;
    width: 40px;
    height: 40px;
}

.load .planet .spots span:nth-child(5) {
    top: 160px;
    left: 70px;
    width: 15px;
    height: 15px;
}

.load .planet .spots span:nth-child(6) {
    top: 165px;
    left: 125px;
    width: 10px;
    height: 10px;
}

.load .planet .spots span:nth-child(7) {
    top: 90px;
    left: 150px;
    width: 15px;
    height: 15px;
}

/* Yükleniyor yazısı için ayarlar */
.load p {
    color: #bacbd9;
    font-size: 14px;
    z-index: 2;
    position: absolute;
    bottom: -20px;
    font-family: "Roboto Mono", monospace;
    animation: text 4s ease infinite;
    width: 100px;
    text-align: center;
}

/* Yükleniyor yazısının animasyonu */
@keyframes text {
    0% {
        transform: translateX(-30px);
        letter-spacing: 0px;
        color: #bacbd9;
    }
    25% {
        letter-spacing: 3px;
        color: #7ea1bf;
    }
    50% {
        transform: translateX(30px);
        letter-spacing: 0px;
        color: #bacbd9;
    }
    75% {
        letter-spacing: 3px;
        color: #7ea1bf;
    }
    100% {
        transform: translateX(-30px);
        letter-spacing: 0px;
        color: #bacbd9;
    }
}

/* Kart tasarımı için genel ayarlar */
.card {
    width: 600px;
    height: 700px;
    background: #3405a3;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #100a886b;
    position: relative;
}

/* Kartın üst kenarındaki çizgi için ayarlar */
.card .card-border-top {
    width: 60%;
    height: 2%;
    background: #6b64f3;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}

/* Kart içindeki yazılar için ayarlar */
.card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
}

/* Profil resmi için ayarlar */
.card .img {
    width: 160px;
    height: 160px;
    background: #6b64f3;
    border-radius: 50%;
    margin: auto;
    margin-top: 25px;
    overflow: hidden;
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Butonlar için genel ayarlar */
.card button {
    margin: auto;
    margin-top: 30px;
    display: flex;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%,

 #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/* Buton arka planı için yıldız efekti */
#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

/* Buton arka planı için parlayan daireler */
#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

/* Buton hover ve active durumları için ayarlar */
.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

/* Yıldızların hareketi için animasyon */
#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

/* Yıldız animasyonları */
@keyframes animStar {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* Gizli içerik için stil */
.hidden {
    display: none;
}

/* İçerik için merkezleme */
#content {
    text-align: center;
}
